.edit-user-skills-body {
    padding-left: 10px;
    padding-top: 10px;
}

.new-skill-body {
    width: 50%;
    align-items: left;
}

.edit-user-skills-select {
    width: 100%;
}

.edit-user-skills-submit-button {
    margin-top: 10px;
}